.main {
  min-height: 70vh;
  padding: 0px 40px;
}

.footer {
  text-align: center;
}

.menuBar {
  background-color: #161619;
  padding: 0 40px;
  height: 64px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  float: left;
  width: 500px;
}

.logo a {
  display: inline-block;
  font-weight: 800;
  font-size: x-large;
  color: #2bb8bd;
  text-decoration: none;
  text-transform: capitalize;
}

.menuCon {
  width: calc(100% - 150px);
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuCon .leftMenu {
  width: 50%;
  float: left;
}

.menuCon .rightMenu {
  float: right;
}

.menuCon .ant-menu-item {
  padding: 0px 5px;
  font-size: 16px;
}

.menuCon .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menuCon .ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover {
  color: #2bb8bd;
}

.menuCon .ant-menu-item-selected .ant-menu-title-content {
  color: #2bb8bd;
}

.menuCon .ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-sk7ap8).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-selected::after {
  border-bottom-width: 2px;
  border-bottom-color: #2bb8bd;
}

.menuCon .ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-sk7ap8).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-selected {
  border-bottom-width: 2px;
  border-bottom-color: #2bb8bd;
}

.menuCon .ant-menu-light.ant-menu-horizontal > .ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-sk7ap8).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-selected::after {
  border-bottom-width: 2px;
  border-bottom-color: #2bb8bd;
}

.menucon .ant-menu-title-content: {
  color: #2bb8bd;
}

.menuCon .ant-menu-item a,
.menuCon .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menuCon .ant-menu-horizontal {
  border-bottom: none;
}

.menuCon .rightMenu {
  float: right;
}

.barsMenu {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none;
  background: none;
}

.barsBtn {
  display: block;
  width: 20px;
  height: 2px;
  background: #1890ff;
  position: relative;
}

.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #1890ff;
}

.barsBtn:after {
  top: auto;
  bottom: -6px;
}

.ant-drawer-body {
  padding: 0;
}

.barsMenu > span {
  display: block;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item,
.ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu {
  display: inline-block;
  width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
  border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom-color: transparent;
}

@media (max-width: 767px) {
  .menuBar {
    padding: 0 20px;
  }

  .main {
    padding: 20px 20px;
  }

  .menuCon {
    justify-content: end;
    margin-bottom: 10px;
  }

  .barsMenu {
    display: inline-block;
  }

  .leftMenu,
  .rightMenu {
    display: none;
  }

  ul li {
    /* background-color: red; */
    /* display: block; */
  }

  .logo a {
    margin-left: -20px;
    font-size: 15px;
  }

  .menuCon .ant-menu-item,
  .menuCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .logo a {
    padding: 10px 20px;
  }
}
